.header__wrapper {
  background-color: #fff; //$brand-color;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15);
}

.nav__wrapper {
  @include clearfix();
  margin: 0 auto;
  max-width: $content-width;
  padding: 0 12px;
}

.nav {
  &.nav--left {
    float: left;
  }

  &.nav--right {
    float: right;
  }
}

.nav__logo {
  vertical-align: middle;
}

.nav__logo-title {
  display: inline-block;
  margin: 0 0 0 6px;
  vertical-align: middle;
}

.nav__link {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  line-height: 60px;
  padding: 0 16px;

  font-size: 15px;
  font-weight: 500;
  text-decoration: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;

  &:link, &:visited {
    color: #575450;
  }

  &:hover {
    background-color: #f4f7f7;
  }

  &.nav--home {
    margin-right: 12px;
    padding-left: 0;

    &:hover {
      background-color: transparent;
    }
  }
}

.nav__search {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 260px;
  padding: 9px 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;

  input {
    margin-bottom: 0;
    // color: white;
    border: none;
    background: transparent;

    font-size: 15px;
    font-weight: 500;
    padding: 11px 11px 11px 30px;

  }

  &:after {
    position: absolute;
    top: 20px;
    left: 4px;

    background: url('/static/img/icons/action/ic_search_24px.svg') no-repeat;
    background-size: cover;
    height: 20px;
    width: 20px;

    opacity: 0.5;
    content: '';
  }
}
